body {
  background-size: cover;
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 600px;
  margin: 5% auto;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2%;
}

.search-form {
  max-width: 600px;
  margin: 1% auto;
}

.search-form-input {
  background: rgba(92, 92, 211, 0.1);
  border: none;
  border-radius: 10px;
  width: 82%;
  padding: 15px;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.search-form-button {
  background: rgba(92, 92, 211, 0.9);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  margin-left: 3px;
  transition: all 200ms ease-in-out;
}

.search-form-button:hover {
  background: rgba(92, 92, 211, 1);
  cursor: pointer;
}

.units {
  position: relative;
  left: 90%;
}

.active {
  font-weight: bold;
}

.weather-data {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 38px;
}

.weather-country {
  margin: 0;
  line-height: 38px;
}

.weather-temperature {
  display: flex;
  justify-content: left;
}

.weather-temperature-value {
  margin-top: 5%;
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-temperature-degrees {
  margin-top: 5%;
  font-size: 44px;
  font-weight: bold;
}

.weather-temperature-icon {
  width: 88px;
  height: 88px;
}

#condition {
  font-size: 28px;
  color: rgba(92, 92, 211, 1);
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  grid-gap: 15px;
}

.weather-details-box {
  text-align: center;
  border-radius: 10px;
  background: rgba(92, 92, 211, 0.05);
  padding: 15px;
  transition: all 200ms ease-in-out;
}

.weather-details-box:hover {
  background: rgba(92, 92, 211, 0.09);
  transform: scale(1.05);
}

.weather-details strong {
  color: rgba(92, 92, 211, 1);
}

.last-updated {
  margin-top: 4%;
  font-size: 14px;
  opacity: 0.5;
}

.weather-forecast {
  border-radius: 10px;
  margin-top: 1%;
  padding: 15px;
  text-align: center;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  background: rgba(92, 92, 211, 0.05);
  transition: all 200ms ease-in-out;
}

.weather-forecast:hover {
  background: rgba(92, 92, 211, 0.09);
  /* transform: scale(1.01); */
}

.weather-forecast-icon {
  width: 80%;
}

.weather-forecast-temperature-max {
  color: rgba(92, 92, 211, 0.9);
  font-size: 16px;
  font-weight: 900;
}

.weather-forecast-temperature-min {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 5%;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: rgba(92, 92, 211, 0.9);
  text-decoration: none;
}

a:hover {
  color: rgba(92, 92, 211, 1);
  text-decoration: underline;
}

@media (max-width: 620px) {
  .container {
    max-width: 90%;
    margin: 2% auto;
  }

  .search-form-input {
    max-width: 70%;
    font-size: 80%;
  }

  .search-form-button {
    font-size: 80%;
  }

  .units {
    left: 80%;
  }

  .weather-data {
    display: block;
  }

  .weather-city,
  .weather-country {
    display: inline;
    line-height: 32px;
  }

  .weather-city {
    font-size: 28px;
  }

  .weather-temperature-value {
    margin-top: 1%;
    font-size: 48px;
    line-height: 48px;
  }

  .weather-temperature-degrees {
    margin-top: 1%;
    font-size: 24px;
  }
  .weather-temperature-icon {
    width: 48px;
    height: 48px;
  }

  #condition {
    font-size: 18px;
    margin-bottom: 5%;
  }

  .last-updated {
    font-size: 12px;
    margin-top: 1% auto;
  }
  .weather-forecast {
    margin-bottom: 10%;
  }

  .weather-forecast-temperature-max {
    font-size: 12px;
  }

  .weather-forecast-temperature-min {
    font-size: 12px;
  }

  footer {
    font-size: 10px;
  }
}
